.form_radio_group {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 38px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1444px;
    height: 1089px;
    background-image: url("../img/kart-fon.png");
    background-size: 1444px auto;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 550px;

    &::before {
      width: 0;
    }
  }
}


.form_radio_group-item {
  // position: absolute;
  display: grid;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 370px 786px;
  -moz-column-gap: 100px;
  column-gap: 100px;
  width: 1170px;
  margin: 0 auto 240px;

  @media (max-width: $tablet-width) {
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    width: 768px;
    margin-bottom: 0;
    }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 80px;
  }
}

.country__item--displayed {
  display: grid;
}


.country__list input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.country-info {
  display: flex;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}

.country-info__wrapper {

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 21px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 17px;
    text-align: center;
  }
}

.country-info__heading {
  position: relative;
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 55px;
    text-align: left;
    letter-spacing: -1.3px;
    
    &::before {
      content: "";
      position: absolute;
      bottom: -33px;
      left: 0;
      width: 175px;
      height: 4px;
      background-color: $button-color;
    }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 26px;
    font-size: 30px;
    color: $subtitle-color;
    text-align: center;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 24px;
    text-align: center;
  }
}

.country-info__text {
  width: 370px;
  margin-bottom: 49px;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: $grey-light;
  letter-spacing: -0.5px;
  text-align: left;

  @media (max-width: $tablet-width) {
    width: 726px;
    margin: 0 auto;
    margin-bottom: 19px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.country-info__button {
  align-items: center;
  width: 250px;
  height: 75px;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;

  @media (max-width: $tablet-width) {
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}
