.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 99px;

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 50px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
  }
}

.page-header__logo-image {
  max-width: 57px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  
  @media (max-width: $tablet-width) {
    width: 44px;
    height: 16px;
  }
}