.tour {
  margin: 0 auto;
  margin-bottom: 89px;
  padding: 0;

  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 98px;
    padding-left: 82px;
    padding-right: 81px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.tour__heading {
  position: relative;
  margin: 0 0 26px;
  padding: 0;
  width: 358px;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.3px;
  text-align: left;
  color: $subtitle-color;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -33px;
    width: 228px;
    height: 4px;
    background-color: $button-color;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    font-size: 24px;
  }
}

.tour__text {
  width: 334px;
  margin: 0 auto;
  margin-left: 0;
  padding: 37px 0 58px;
  font-size: 16px;
  line-height: 28px;
  color: $grey-light;
  text-align: left;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 3px 0 40px 0px;
    width: 343px;
    text-align: center;
  }
  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.tour__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 60px;
  row-gap: 100px;
  margin-bottom: 68px;

  @media (max-width: $tablet-width) {
   
    column-gap: 29px;
    row-gap: 17px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    row-gap: 34px;
  }
}

.tour__item {
  position: relative;

  @media (max-width: $tablet-width) {
    margin-bottom: 0px;
  }
}

.tour__item--gce {
  margin-top: 0;
  margin-left: 56px;

  @media (max-width: $tablet-width) {
    margin-top: 9px;
    margin-left: 0;
  }
  
  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.tour__img {
  position: relative;
  z-index: -1;
  height: 430px;

  @media (max-width: $tablet-width) {
    height: auto;
  }
}

.tour__title {
  position: absolute;
  top: 369px;
  right: 0;
  left: 0;
  width: 215px;
  height: 66px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 16px;
  background-color: $basic-white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $subtitle-color;
  letter-spacing: -0.6px;

  @media (max-width: $tablet-width) {
    top: 366px;
  }

  @media (max-width: $mobile-width) {
    top: 369px;
  }
}