// SIZES
$desktop-width: 1170px;
$tablet-width: 768px;
$mobile-width: 320px;

// COLORS
$basic-white: #ffffff;
$basic-black: #000000;
$background-color: #68b738;
$button-color: #FE7865;
$subtitle-color: #2C2E3F;
$grey-light: #2c2e3fb3;
$border-light: #2c2e3f4d;
$grey-dark: #141517;
$grey-text: #48494D;

$grey-darker: #2c2e3fb3;

$form-grey: #FBF8F8;
$border-grey: #D7D9DF;
$grey-darkest: #141517;

$grey-lighter: #14151780;
$border-ligher:#14151733;

$grey-box-shadow: #2936421a;
